<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/header') %>

    <title>Add new Blogs</title>
</head>

<body>

  <%- include('./partials/navbar') %>

    <div class="mt-3">
      <form>
        <div class="mb-3">
          <label for="InputTitle" class="form-label">Title</label>
          <input type="text" class="form-control" name="title" id="InputTitle" aria-describedby="title">
        </div>
      </form>
    </div>

    <%- include('./partials/script') %>
</body>

</html>